---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;

// Width of the content area
$content-width:    1020px;

$header-wider:     750px;
$header-two-line:  600px;
$header-narrow:    425px;

$flow-intro: 650px;
$flow-services: 750px;
$flow-gallery: 600px;

$cut-off-width:    480px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "html5reset",
        "cols/col",
        "cols/2cols",
        "cols/3cols",
        "cols/4cols",
        "cols/5cols",
        "cols/6cols",
        "cols/7cols",
        "cols/8cols",
        "cols/8cols",
        "cols/9cols",
        "cols/10cols",
        "cols/11cols",
        "cols/12cols",
        "base",
        "layout",
        "header"
;
