<nav>
    <div class="nav-container">
        <!-- <img src="/images/logot-line.png" alt="Logo" class="header-logo" /> -->
        <div>
            <h1>Logo</h1>
        </div>
        <ul class="items-container">
            <li><a href="/">Home</a></li>
            <li><a href="/#home-services">Services</a></li>
            <li><a href="/#events">Events</a></li>
            <li><a href="/#gallery">Gallery</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
        <div class="burger-container" data-hamburger-menu>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div data-mobile-menu class="mobile-menu not-visible">
            <ul class="">
                <li><a href="/">Home</a></li>
                <li><a href="/#home-services">Services</a></li>
                <li><a href="/#events">Events</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div data-overlay></div>
