<nav id="home">
    <div class="nav-container">
        <div>
            <!-- <h1>Logo</h1> -->
        </div>
        <ul class="items-container">
            <li><a href="/#home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#services">Services</a></li>
            <!-- <li><a href="/#events">Events</a></li> -->
            <li><a href="/#contact">Contact</a></li>
        </ul>
        <div class="burger-container" data-hamburger-menu>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div data-mobile-menu class="mobile-menu not-visible">
            <ul class="">
                <li data-mobile-menu-item><a href="/#home">Home</a></li>
                <li data-mobile-menu-item><a href="/#about">About</a></li>
                <li data-mobile-menu-item><a href="/#services">Services</a></li>
                <!-- <li><a href="/#events">Events</a></li> -->
                <li data-mobile-menu-item><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div data-overlay></div>
