[data-about-section] {
    width: 100%;
    // margin: 0 auto;
    // max-width: 1020px;
    background-color: darkgrey;

    .about-section-container {
        width: 90%;
        padding: 1rem 1rem;
        margin: 0 auto;
        max-width: 1020px;
    }
}
