[data-landing-section] {
    width: 90%;
    margin: 0 auto;
    max-width: 1020px;

    .landing {
        height: calc(100vh - 82px);
        width: 100%;
        display: flex;

        @media (max-width: $tablet-medium) {
            flex-direction: column;
            justify-content: space-evenly;
        }

        .intro {
            width: 50%;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;
            opacity: 1;
            visibility: visible;
            transition: all 0.75s ease; // all

            @media (max-width: $tablet-medium) {
                width: 100%;
            }

            &.not-visible {
                opacity: 0;
                visibility: hidden;
            }

            h1,
            h2,
            p {
                color: #3b3b3b;
            }
        }

        .intro-img {
            width: 50%;
            padding: 1rem 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $tablet-medium) {
                width: 100%;
            }
        }
    }
}
