[data-landing-section] {
    height: calc(100vh - 96px);
    width: 100%;
    background-color: white;

    .landing-section-container {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        max-width: 1000px;

        @media (max-width: $medium-mobile) {
            width: 95%;
            padding: 0 0.5rem;
        }

        @media (max-width: $tablet-medium) {
            flex-direction: column;
            justify-content: space-evenly;
        }

        .intro {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;
            opacity: 1;
            visibility: visible;
            transition: all 0.75s ease; // all

            @media (max-width: $tablet-medium) {
                width: 100%;
            }

            &.not-visible {
                opacity: 0;
                visibility: hidden;
            }

            h1,
            h2,
            p {
                color: #3b3b3b;

                @media (min-width: $tablet-medium) and (max-width: 1000px) {
                    max-width: 85%;
                }
            }
        }

        .intro-img {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end; // Check

            @media (max-width: $tablet-medium) {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
