/*

@mixin col6 {
    width: 79%;
}

@mixin col4 {
    width: 59%;
}

.gallery-item {
    @include col4;

    @include media-query($cut-off-width) {
        @include col6;
        color:blue;
        font-size: 30px;
    }
}

*/

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: $content-width;
  @include media-query($cut-off-width) {
      width: 95%;
  }
}

.figure img {
  background-color: #fff;
  padding: 9px;
  box-shadow: 4px 4px 4px #888;
}

.section {
  margin-top: 15px;
}

#home-services {
  .service-box {
      display: inline-block;
      *display: inline;
      width: 32.26%;
      padding: 0px 10px 5px 0px;
      vertical-align: top;
  }
}

.gallery-item {
  display: inline-block;
  *display: inline;
  width: 32.26%;
  padding: 0px 10px 15px 0px;
  vertical-align: top;
  text-align: center;
  img {
    max-height: 190px;
    background-color: #fff;
    padding: 4px;
    box-shadow: 3px 3px 3px #888;
  }
}

/* responsive layout */

@include media-query($flow-gallery) {

  .gallery-item {
    width: 100%;
  }
}


@include media-query($flow-services) {

  #home-services {
    .service-box {
        width: 48.4%;
    }
  }
}


@include media-query($flow-intro) {
  #intro, #intro-img {
    width: 100%;
  }

  .figure {
    text-align: center;
    img {
      background-color: inherit;
      padding: inherit;
      box-shadow: none;
    }
  }

}

@include media-query($cut-off-width) {
  .figure img{
    background-color: inherit;
    padding: inherit;
    box-shadow: none;
  }

  #home-services {
    .service-box {
        width: 100%;
    }
  }
}

/* end responsive */
