/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: $content-width;
    @include media-query($cut-off-width) {
        width: 95%;
    }
}

// #intro {
// 	width: 56.45%;
//   display: block;
// 	float:left;
// 	margin: 1% 0 1% 0%;
// }

// #intro-img {
//     width: 41.94%;
//     display: block;
//     float: left;
//     margin: 1% 0 1% 1.6%;
// }

// .figure img {
//     background-color: #fff;
//     padding: 9px;
//     box-shadow: 4px 4px 4px #888;
// }

.section {
    margin-top: 15px;
    width: 75%; // Remember to make this responsive.
}

#home-services,
#events {
    .service-box {
        display: inline-block;
        *display: inline;
        width: 32.26%;
        padding: 0px 10px 5px 0px;
        vertical-align: top;
    }
}

#events {
    .service-box {
        margin-right: 25px;
    }
}

.gallery-item {
    display: inline-block;
    *display: inline;
    width: 32.26%;
    padding: 0px 10px 15px 0px;
    vertical-align: top;
    text-align: center;
    img {
        max-height: 190px;
        background-color: #fff;
        padding: 4px;
        box-shadow: 3px 3px 3px #888;
    }
}

/* responsive layout */

@media only screen and (max-width: $content-width) {
    .section {
        width: 100%;
    }
}

@include media-query($flow-gallery) {
    .gallery-item {
        width: 100%;
    }
}

@include media-query($flow-services) {
    #home-services,
    #events {
        .service-box {
            width: 48.4%;
            margin-right: 0;
        }
    }
}

@include media-query($flow-intro) {
    #intro,
    #intro-img {
        width: 100%;
    }

    .figure {
        text-align: center;
        img {
            background-color: inherit;
            padding: inherit;
            box-shadow: none;
        }
    }
}

@include media-query($cut-off-width) {
    .figure img {
        background-color: inherit;
        padding: inherit;
        box-shadow: none;
    }

    #home-services,
    #events {
        .service-box {
            width: 100%;
            margin-right: 0;
        }
    }
}

/* end responsive */
