nav {
    background-color: #3e7462;
    width: 100%;
    height: 6rem;
    padding: 0 1rem;
    display: flex;

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            margin-right: auto;
        }

        .items-container {
            display: flex;

            @media (max-width: $mobile-large) {
                display: none;
            }
        }

        .burger-container {
            display: none;

            @media (max-width: $mobile-large) {
                display: block;
            }
        }

        .mobile-menu {
        }
    }
}
