[data-page] {
    height: fit-content;
    width: 100%;
    background-color: white;

    .page-container {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 5rem 1rem;
        display: flex;
        flex-direction: column;
        max-width: 800px;

        p {
            margin-bottom: 1.25rem;
        }

        @media (max-width: $medium-mobile) {
            width: 95%;
            padding: 0 0.5rem;
        }

        @media (max-width: $tablet-medium) {
            justify-content: space-evenly;
        }
    }
}
